.Carrito {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.logo {
    
    margin-right: 16px;
    width: 110px;
    height: 90px;
}

.Titulo {
    text-decoration: none;
    margin-right: 18px;
    color: white;
    font-family:  monospace;
}

